.social-networks {
    &__item {
        display: inline-block;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
        }

        &:first-child {
            margin-right: 30px;
        }
    }
}